<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-clifford text-center pb-12">Contact us</h1>
    <form method="POST" action="/contact">
        <input type="text" name="name" placeholder="Your name" class="w-full p-4 mb-6 rounded-lg border border-gray-300">
        <input type="email" name="email" placeholder="Your email" required class="w-full p-4 mb-6 rounded-lg border border-gray-300">
        
        <select name="subject" required class="w-full p-4 mb-6 rounded-lg border border-gray-300 bg-white">
            <option value="" disabled selected>Select a subject</option>
            <option value="Info">Information</option>
            <option value="Estimate">Estimate</option>
            <option value="Claim">Claim</option>
            <option value="Other">Other</option>
        </select>
        
        <textarea name="message" placeholder="Your message" required class="w-full min-h-72 max-h-72 p-4 mb-6 rounded-lg border border-gray-300"></textarea>
        <button type="submit" class="w-36 ml-136 bg-clifford text-white py-3 rounded-lg transition delay-180 duration-600 ease-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 transition-colors transition-discrete">Send</button>
    </form>
    {{#if error}}
        <p class="text-red-500 text-center pt-4">{{error}}</p>
    {{/if}}
</div>