<div class="relative">
    <div class="h-450 bg-[url('../images/home.png')] bg-cover bg-center bg-no-repeat"></div>
    <div class="absolute top-0 left-0 right-0  blur-[1px] mix-blend-multiply">
        <div class="container mx-auto px-4 py-8">
            <h1 class="text-6xl font-bold text-clifford text-center pb-10 pt-12">
                Discover the place where you need to be
            </h1>
            <h2 class="text-3xl text-center pb-8">Find what place in the world is worth your time during holidays</h2>
            <p class="text-xl text-center pb-8">Your local time is {{time}}</p>
        </div>
    </div>
</div>



{{!-- <img src="images/home.png" alt="image" class="mx-auto w-4/5 md:w-3/4 lg:w-4/5 h-48 md:h-100 lg:h-186 object-cover rounded-lg shadow-lg mb-10"> --}}