<h1 class="text-3xl font-bold underline text-clifford text-center pb-8 pt-8">
    Discover the place where you need to be
</h1>
<h2 class="text-center pb-8">Find what place in the world is worth your time during holidays</h2>
<p class="text-center pb-8">Your local time : {{time}}</p>
<img src="images/home.png" alt="image" class="mx-auto w-4/5 md:w-3/4 lg:w-4/5 h-48 md:h-100 lg:h-186 object-cover rounded-lg shadow-lg mb-10">